
 .navbar{
    height: 60px;
    background: rgb(150, 150, 185);
 }

 .navbar > ul {
    list-style-type: none;
    display: flex;
 }

 .list-item{
    margin-right: 10px;
    padding: 15px;
    font-size: 1.5rem;
 }

 .list-item:hover{
    cursor: pointer;
 }